.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #170550;
    color: white;
    height: 100px;
    cursor: context-menu;
}

.topnav-image {
    width: 20%;
    display: flex;
    justify-content: center;
    min-height: 100% !important;
    align-items: center;
}

.topnav-pic {
    height: 100%;
}

.topnav-items {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.topnav-item {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Exo 2;
    font-weight: 600;
}

.topnav-item:hover {
    color: yellow;
    text-decoration: underline;
}

.topnav-hireme {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav-h3 {
    width: fit-content;
    color: black;
    background-color: white;
    padding: 10px 30px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}

.topnav-h3:hover {
    padding: 15px 35px;
    font-size: 20px;

}